extends layout

block content
  include navbar.pug
  //nav
    div(class='nav-wrapper')
      ul(id='navbar-links' class='right')
        li
          button(id='register-button' class='btn navbar-button' onclick='window.location="/register"') Register 
        li
          button(id='login-button' class='btn navbar-button' onclick='window.location="/login"') Login
        li(id='logout-section')
          button(id='logout-button' class='btn navbar-button') Logout

  div(id='create-post-section' class='create-post')
    p(id="error-message" class='error')
    form(id='post-form')
      textarea(name='title' form='post-form' class='materialize-textarea' placeholder='Post title' maxlength='50'  oninput='this.style.height = this.scrollHeight + "px"' required)
      label(for='title') Title(50 char. max)
      textarea(name='message' form='post-form' class='materialize-textarea' placeholder='Write your message here...'  oninput='this.style.height = this.scrollHeight + "px"' required)
      label(for='message') Message
      textarea(name='code' form='post-form' class='materialize-textarea' placeholder='Put your code here...'  oninput='this.style.height = this.scrollHeight + "px"')
      label(for='code') Code
      br
      br
      input(type='submit' class='btn')

  div(id='post-section' class='z-depth-3')
    //div(id='post')
      h5(id='title') Example post 
      p(id='poster') #[strong random@account.com]
      p(id='message') I'm having problems with this code
      p(id='code' class='code') function print(){  <br> &emsp; print('Hello world');<br>}<br>print();

  script(src='/javascripts/index.js' defer)
