extends layout

block content
  include navbar.pug

  div(id='create-post-section' class='create-post')
    p(id="error-message" class='error')
    h5 New post
    form(id='post-form')
      textarea(name='title' form='post-form' class='materialize-textarea' placeholder='Post title' maxlength='50'  oninput='this.style.height = this.scrollHeight + "px"' required)
      label(for='title') Title(50 char. max)
      textarea(name='message' form='post-form' class='materialize-textarea' placeholder='Write your message here...'  oninput='this.style.height = this.scrollHeight + "px"' required)
      label(for='message') Message
      textarea(name='code' form='post-form' class='materialize-textarea' placeholder='Put your code here...'  oninput='this.style.height = this.scrollHeight + "px"')
      label(for='code') Code
      br
      br
      input(type='submit' class='btn')

  div(id='post-section' class='z-depth-3')
  script(src='/javascripts/index.js' defer)
