extends layout 
block content
    include navbar.pug
    
    h1 Login
    p(id="error-message" class='error')
    form(action='' id='login-form' method='POST')
        label(for='email') E-mail 
        input(type='email' name='email' id='email' required)
        label(for='password') Password 
        input(type='password' name='password' id='password' required)
        br
        br
        input(class='btn' type='submit' value='Login')
    script(src='/javascripts/login.js' defer) 