extends layout 
block content 
    include navbar.pug
    div(id='post')

    div(id='create-comment')
        form(action='' id='comment-form' method='POST')
            textarea(id='textarea-message' name='message' form='comment-form' class='materialize-textarea' placeholder='Write your message here...'  oninput='this.style.height = this.scrollHeight + "px"' required)
            textarea(id='textarea-code' name='code' form='comment-form' class='materialize-textarea' placeholder='Put useful code here...' oninput='this.style.height = this.scrollHeight + "px"')
            input(type='submit' class='btn')
    div(id='comment-section' class='comment-section')
    script(src='/javascripts/post.js' defer)