extends layout 
block content 
    include navbar.pug
   
    h1 Register 
    p(id="error-message" class='error')
    form(action='' id='register-form' method='POST')
        label(for='username') Username (minimum 4 letters)
        input(name='username' id='username' required)
        label(for='email') E-mail (must be valid e-mail)
        input(type='email' name='email' id='email' required)
        label(for='password') Password (requires: 6 characters with uppercase and lowercase letters with at least 1 number)
        input(type='password' name='password' id='password' required)
        br
        br
        input(class='btn' type='submit' value='Register')
    script(src='/javascripts/register.js' defer)